﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NotDefaultToo.aspx.cs" Inherits="SharePointCounters.NotDefaultToo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        Hello!
    </form>
</body>
</html>
