﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NotDefault.aspx.cs" Inherits="SharePointCounters.NotDefault" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        Welcome!
    </form>
</body>
</html>
