html{
background-color: #e9e9e9;
font: regular 12px Arial;
}
div{
padding-left: 20px;
}
div#title{
color: #505050;
width: 515px;
padding-top: 10px;
align: left;
margin: 0px 10px 0px 0px;
}
div#imgload{
padding-top: 10px;
display: table-cell;
align: left;
float:left;
width: 95px;
left: 10px;
}
div#input{
padding-top: 10px;
display: table-cell;
width: 60%;
float:left;
}
div#wrapper{
display: table;
padding: 0px;
}
div#navigation{
margin-top: 5px;
width: 515px;
}
li{
display: inline;
margin: -4px -4px 0px 0px;
padding: 11px 5px 9px 5px;
color: #1b4680;
}
li.pager-current {
background: linear-gradient(to bottom, #589dd2, #2a5792);
}
li.first{
color: white;
}
ul.toplist{
margin: -10px -10px 5px -10px;
border: 1px solid #2a5792;
border-radius: 3px;
padding: 5px 0px 8px 0px;
hight: 30px;
background: linear-gradient(to bottom, #82bbe8, #4882ca);
}
span{
margin-left: 3px;
font: 12px Arial
}
span.menu{
font: bold 14px Arial;
}
img.icons{
vertical-align: bottom;
}
img.arrow{
vertical-align: none;
margin: -10px 3px -12px -5px;
padding: 0px;
}
img#picture{
background-color: white;
padding: 5px;
border: 1px solid #8c969f;
border-radius: 3px;
align: left;
}
input#load{
margin: 5px 0px 0px 0px;
position: relative;
top: 0px;
align: left;
}
.inputdata{
height: 31px;
display: block;
padding: 6px;
margin: 0px 0px 6px 0px;
border: 1px solid #8c969f;
border-radius: 5px;
width: 400px;
resize: none;
}
textarea.inputdata{
height: 95px;
}
textarea.instruction{
display: inline;
float: none;
padding: 6px;
margin-bottom: 6px;
border: 1px solid #8c969f;
border-radius: 5px;
width: 515px;
resize: none;
height: 100px;
}